body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #f2f2f2;  
  }  
  
  .main {  
    width: 100%;  
    max-width: 1500px;  
    margin: 0 0;  
    padding: 20px;  
  }  
  
  table {  
    width: 100%;  
    border-collapse: collapse;  
    font-family: Arial, sans-serif;  
  }  
  
  caption {  
    font-size: 24px;  
    font-weight: bold;  
    margin-bottom: 10px;  
  }  
  
  thead {  
    background-color: #f2f2f2;  
  }  
  
  thead td {  
    padding: 12px;  
    font-weight: bold;  
  }  
  
  tbody td {  
    padding: 10px;  
    border-bottom: 1px solid #ddd;  
  }  
  
  tbody tr:nth-child(even) {  
    background-color: #f2f2f2;  
  }  
  
  tbody td:first-child {  
    font-weight: bold;  
  }  
  
  .box {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 80vh;  
  }  
  
  .box form {  
    background-color: #fff;  
    padding: 20px;  
    border-radius: 5px;  
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);  
    width: 400px;  
  }  
  
  .box form label {  
    display: block;  
    font-weight: bold;  
    margin-bottom: 5px;  
  }  
  
  .box form input {  
    width: 100%;  
    padding: 10px;  
    border: 1px solid #ddd;  
    border-radius: 3px;  
    margin-bottom: 6px;  
    font-size: 16px;  
  }  
  
  .box form button {  
    background-color: #4CAF50;  
    color: #fff;  
    border: none;  
    padding: 12px 16px;  
    border-radius: 3px;  
    cursor: pointer;  
    width: 100%;  
    font-size: 14px;  
    font-weight: bold;  
    transition: background-color 0.3s ease;  
  }  
  
  .box form button:hover {  
    background-color: #45a049;  
  }
  #del{
    background-color: red;
    padding: 2 5 2 5;
    border: 0;
    border-radius: 15%;
  }
  #edit{
    padding: 2 3 2 3;
    background-color: green;
    border: 0;
    border-radius: 15%;
  }
  #edit button:hover{
    background-color: greenyellow;
  }
  button:hover{
    background-color: rgba(239, 99, 99, 0.2);
  }